@import '../fonts/Charmonman & Inika/stylesheet.css';
@import '../fonts/DMSerifDisplay/stylesheet.css';

.mytitle {
    font-family: 'DM Serif Display';
    font-size: 10vw;
}

.timefont {
    font-size: 8vw;
}

.centerized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width: 768px) {
    .mytitle {
        font-size: 4vw;
    }
    .timefont {
        font-size: 5vw;
    }
}

.myname {
    font-family: 'Charmonman';
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 3px
}
